* {
    box-sizing: border-box;
}

article div, article p {
    background-color: #ebebeb;
    color: #777;
    padding: 15px;
    margin-top: 15px;
}

div {
    display: block:
}

header, nav, section, aside, footer {
    text-align: center;
}

body {
    font-size: 18px;
}



